
*{
    margin: 0 auto;
    padding: 0;
}

#wrapper{
    width: 1100px;
    background-color: aqua;
}
header{
    height: 180px;
    background-color: chartreuse;
}
#login{
    height: 30px;
    background-color: gray;
    text-align: center;
    text-align: right;

}

#carousel{
    height: 400px;
    background-color: palevioletred;
    margin-top: 10px;
}

.item{
    width: 353px;
    height: 353px;
    background-color: chocolate;
    margin: 20px 0px 0px 20px;
    float: left;
}

.item img{
    margin-top: 15px;
    margin-left: 15px;
    width: 323px;
    height: 323px;
}

.item:nth-child(3),
.item:nth-child(6),
.item:nth-child(9){
    margin-left: 0px;
}

footer{
    height: 400px;
    width: 1100px;
    clear: both;
    background-color: red;
    margin-top: 1120px;
}