*{
    margin: 0;
    padding: 0;
}

#wrapper{
    width: 1100px;
    height: 3300px;
    background-color: aqua;
}
header{
    height: 180px;
    background-color: chartreuse;
}
#login{
    height: 30px;
    background-color: gray;
    text-align: center;
    line-height: 30px;

}

#carousel{
    height: 400px;
    background-color: palevioletred;
    margin-top: 20px;
}

