#circulo{
    list-style-type: circle;
}

#disc{
    list-style-type: disc; 
}

#square{
    list-style-type: square;
}

#none{
    list-style-type: none;
}

.menu{
    list-style-type: none;
    border: 1px solid black;
}

.menu li{
    border-bottom: 1px solid black;
}